@font-face {
    font-family: 'proxima-nova-bold';
    src: local('proxima-nova-bold'), url('../src/fonts//Proxima\ Nova\ Bold.otf') format('woff')
}

@font-face {
    font-family: 'proxima-nova';
    src: local('proxima-nova'), url('../src/fonts/proximanova-regular.otf') format('woff')
}

body {
    margin: 0;
    background-color: #f8f8f8;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: proxima-nova;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.MuiTypography-root {
    font-family: proxima-nova;
}

.table-list-pagination-bottom>div div:not(.detail-panel-history-table)>.MuiTable-root {
    table-layout: fixed !important;
}


/* Footer position to bottom in the Table List Pages */

.table-list-pagination-bottom .MuiTablePagination-toolbar {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #e4e4e4;
    border-top: 1px solid #cccccc;
    padding: 0 2rem;
}

@media screen and (max-width: 600px) {
    .table-list-pagination-bottom .MuiTablePagination-toolbar {
        position: fixed;
        bottom: 72px;
        padding: 0;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiTypography-body1 {
    width: 100%;
}