@font-face {
    font-family: 'proxima-nova-bold';
    src: local('proxima-nova-bold'), url('../src/fonts//Proxima\ Nova\ Bold.otf') format('woff')
}

@font-face {
    font-family: 'proxima-nova';
    src: local('proxima-nova'), url('../src/fonts/proximanova-regular.otf') format('woff')
}

body {
    margin: 0;
    background-color: #f8f8f8;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: proxima-nova;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiTypography-body1 {
    width: 100%;
}